/* Styleguide Template CSS */
/* https://css-tricks.com/bem-101/ */

/* HEADINGS */

.heading {
  font-family: Georgia;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 1.27px;
  color: rgb(43,43,43);
}

.heading--uppercase {
  text-transform: uppercase;
}

/* BODY COPY */

.body-copy-regular {
  font-family: Georgia;
  font-size: 14px;
  line-height: 20px;
  color: rgb(43,43,43);
  letter-spacing: 0.2px;
}

.body-regular-bold {
  font-family: Georgia;
  font-size: 14px;
  line-height: 20px;
  color: rgb(43,43,43);
  letter-spacing: 0.2px;
  font-weight: bold;
}

.body-regular-italic {
  font-family: Georgia;
  font-size: 14px;
  line-height: 20px;
  color: rgb(43,43,43);
  letter-spacing: 0.2px;
  font-style: italic;
}

.body-regular-hyperlink {
  font-family: Georgia;
  font-size: 14px;
  line-height: 20px;
  color: rgb(43,43,43);
  letter-spacing: 0.2px;
  text-decoration: underline;
}

.body__alt-section {
  font-family: 'sackers';
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

/* BUTTONS */

.button__TOBECOMPLETED {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;

  padding: 0 1em;
  line-height: 3;
  background-color: #ccc;
  color: #000;
}

.button {
  background: rgb(43,43,43);
  padding: 1em;
}

.button__text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
